<!--Search Bar-->
<div>
  <form class="form-inline" [formGroup]="searchForm">
    <div class="form-group col-md-3">
      <label for="paxCount"> Pax Count</label>

      <input class="form-control" type="text" id="paxCount" name="paxCount" formControlName="paxCount"
             placeholder="Your name..">

    </div>

    <div class="form-group col-md-3">
      <label for="date">Date</label>
      <input type="text" id="date" name="lastname" formControlName="date" placeholder="Your last name..">
    </div>


    <div class="input-group col-md-3">
      <label class="sr-only" for="timeSlot">Time Slot</label>
      <select class="custom-select" id="timeSlot" name="timeSlot" formControlName="timeSlot">
        <option selected>Choose...</option>
        <option *ngFor="let timeSlot of timeSlots" value="{{timeSlot}}">{{timeSlot}}</option>

      </select>
    </div>

    <div class="form-group col-md-3">
      <input class="btn btn-success " type="button" value="Search" (click)="searchAvailability(searchForm.value)">
    </div>


  </form>
</div>


<!--Table Arrangement-->
<div class="container">
  <div class="row" >
    <div class="col-md-4" *ngFor="let table of availableTables">
      <app-table [tableDetails]="table" ></app-table>
    </div>
  </div>
</div>
