<div [class]="availability ? ' container border border-dar' : 'container un-available-table'">


  <!--seat Count 2-->
  <div *ngIf="seatCount ==2" class="row">
    <div class="col-md-4 seat-unavailable">

    </div>
    <div class="col-md-4 seat-unavailable">

    </div>
    <div class="col-md-4 seat-unavailable">

    </div>

    <div class="col-md-4 seat-available">
      1
    </div>

    <!--Main Table-->
    <div class="col-md-4 main-table">
      01
    </div>

    <div class="col-md-4 seat-available">
      2
    </div>

    <div class="col-md-4 seat-unavailable">

    </div>
    <div class="col-md-4 seat-unavailable">

    </div>
    <div class="col-md-4 seat-unavailable">

    </div>
  </div>
  <!--seat Count 3-->
  <div *ngIf="seatCount ==3" class="row">
    <div class="col-md-4 seat-available">
      1
    </div>
    <div class="col-md-4 seat-unavailable">

    </div>
    <div class="col-md-4 seat-unavailable">
      3
    </div>

    <div class="col-md-4 seat-unavailable">
      4
    </div>

    <!--Main Table-->
    <div class="col-md-4 main-table">
      01
    </div>

    <div class="col-md-4 seat-available">
      5
    </div>

    <div class="col-md-4 seat-available">
      6
    </div>
    <div class="col-md-4 seat-unavailable">
      7
    </div>
    <div class="col-md-4 seat-unavailable">
      8
    </div>
  </div>
  <!--seat Count 4-->
  <div *ngIf="seatCount ==4" class="row">
    <div class="col-md-4 seat-unavailable">
      1
    </div>
    <div class="col-md-4 seat-available">
      2
    </div>
    <div class="col-md-4 seat-unavailable">
      3
    </div>

    <div class="col-md-4 seat-available">
      4
    </div>

    <!--Main Table-->
    <div class="col-md-4 main-table">
      01
    </div>

    <div class="col-md-4 seat-available">
      5
    </div>

    <div class="col-md-4 seat-unavailable">
      6
    </div>
    <div class="col-md-4 seat-available">
      7
    </div>
    <div class="col-md-4 seat-unavailable">
      8
    </div>
  </div>
  <!--seat Count 6-->
  <div *ngIf="seatCount ==6" class="row">
    <div class="col-md-4 seat-available">
      1
    </div>
    <div class="col-md-4 seat-unavailable">

    </div>
    <div class="col-md-4 seat-available">
      3
    </div>

    <div class="col-md-4 seat-available">
      4
    </div>

    <!--Main Table-->
    <div class="col-md-4 main-table">
      01
    </div>

    <div class="col-md-4 seat-available">
      5
    </div>

    <div class="col-md-4 seat-available">
      6
    </div>
    <div class="col-md-4 seat-unavailable">
      7
    </div>
    <div class="col-md-4 seat-available">
      8
    </div>
  </div>
  <!--seat Count 8-->
  <div *ngIf="seatCount ==8" class="row">
    <div class="col-md-4 seat-available">
      1
    </div>
    <div class="col-md-4 seat-available">
      2
    </div>
    <div class="col-md-4 seat-available">
      3
    </div>

    <div class="col-md-4 seat-available">
      4
    </div>

    <!--Main Table-->
    <div class="col-md-4 main-table">
      01
    </div>

    <div class="col-md-4 seat-available">
      5
    </div>

    <div class="col-md-4 seat-available">
      6
    </div>
    <div class="col-md-4 seat-available">
      7
    </div>
    <div class="col-md-4 seat-available">
      8
    </div>

  </div>
</div>

