.container{
  padding: 1px;

}

.un-available-table{
  opacity: 0.2;
  cursor: none;
}
.main-table{
  /*margin: 2px;*/
  height: 100px;
  border-radius: 25%;
  background-color: darkgrey;
}
.seat-unavailable{
  /*margin: 2px;*/
  height: 100px;
  /*display:none;*/
  border-radius: 20%;
}
.seat-available{
  /*margin: 2px;*/
  height: 100px;
  background-color: green;
  border-radius: 20%;

}
